* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  color: white;
}

.index-background {
  background-image: url(../assets/img/hola.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

main {
  height: 100vh;
}
main section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main section div a input {
  opacity: 0.8;
  width: 250px;
}
main section div a input:hover {
  transform: scale(1.5);
}

.header-warning {
  background-color: gold;
  opacity: 0.8;
  width: 100%;
  text-align: center;
  font-size: 35px;
  position: fixed;
  font-weight: 300;
}

.text-animation {
  animation: desplazamiento 10s linear infinite;
}

@keyframes desplazamiento {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.footer-warning {
  background-color: gold;
  opacity: 0.8;
  width: 100%;
  text-align: center;
  font-size: 35px;
  position: fixed;
  font-weight: 300;
  bottom: 0;
}

.ppno-background {
  background-image: url(../assets/img/fondoPpno.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.logo {
  height: 100vh;
  display: flex;
  justify-content: center;
  opacity: 0.8;
  margin-top: 250px;
}
.logo a input {
  width: 150px;
}
.logo a input:hover {
  transform: scale(1.5);
}

body header nav {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}
body header nav ul {
  display: flex;
  list-style: none;
  gap: 15px;
  font-size: 22px;
}
body header nav ul li {
  position: relative;
  font-weight: 300;
}
body header nav ul li::before {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 1px;
  width: 0;
  background: white;
  transition: width 0.5s ease-out;
}
body header nav ul li:hover::before {
  width: 100%;
}
body header nav ul li a {
  text-decoration: none;
  color: white;
}

.black-navbar {
  color: black;
}
.black-navbar::before {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 1px;
  width: 0;
  background: black;
  transition: width 0.5s ease-out;
}
.black-navbar:hover::before {
  width: 100%;
}

.vertical-navbar {
  display: flex;
  flex-direction: column;
  gap: 0;
}

body footer section {
  bottom: 0;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
body footer section a input {
  opacity: 0.8;
  width: 150px;
}
body footer section a input:hover {
  transform: scale(1.3);
}

.shop-background {
  background-image: url(../assets/img/fondoShop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.shop {
  width: 80%;
  height: auto;
  margin: 100px auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 300px 100px 300px 100px 100px;
  justify-content: center;
  gap: 60px;
}

.description-grindr {
  grid-column: 1/4;
  grid-row: 5/6;
  font-size: 25px;
  font-weight: 300;
}

.star1 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.star2 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.star3 {
  grid-column: 3/4;
  grid-row: 1/2;
}

.star4 {
  grid-column: 1/2;
  grid-row: 3/4;
}

.star5 {
  grid-column: 2/3;
  grid-row: 3/4;
}

.star6 {
  grid-column: 3/4;
  grid-row: 3/4;
}

.text1 {
  text-align: center;
  grid-column: 1/2;
  grid-row: 2/3;
}

.text2 {
  text-align: center;
  grid-column: 2/3;
  grid-row: 2/3;
}

.text3 {
  text-align: center;
  grid-column: 3/4;
  grid-row: 2/3;
}

.text4 {
  text-align: center;
  grid-column: 1/2;
  grid-row: 4/5;
}

.text5 {
  text-align: center;
  grid-column: 2/3;
  grid-row: 4/5;
}

.text6 {
  text-align: center;
  grid-column: 3/4;
  grid-row: 4/5;
}

h2, h3 {
  font-weight: 300;
}

main div button {
  padding: 10px;
  margin: 15px;
  background-color: gold;
  opacity: 0.8;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: white;
  border: none;
  border-radius: 18px;
}
main div button:hover {
  transform: scale(1.3);
}

.contact-background {
  background-image: url(../assets/img/fondoAlex.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.form {
  margin: 100px auto;
  font-size: 28px;
  background-color: gold;
  width: 800px;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
  border-radius: 18px;
  font-weight: 300;
}

.form input, .form textarea {
  border: none;
}

.send {
  border: none;
  background-color: skyblue;
  padding: 15px;
  color: white;
  border-radius: 18px;
  font-weight: 300;
  font-family: "Quicksand", sans-serif;
  font-size: 28px;
  border-radius: 18px;
}

.alex {
  width: 600px;
  position: absolute;
  margin-top: 300px;
  margin-left: 280px;
}

.circle {
  position: absolute;
  width: 300px;
  margin-left: 480px;
  margin-top: 300px;
  animation-name: circle;
  animation-iteration-count: infinite;
  animation-duration: 15s;
  animation-timing-function: linear;
}

@keyframes circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.poem {
  color: black;
  font-weight: 300;
  font-size: 22px;
  position: absolute;
  text-align: justify;
  left: 60px;
  margin-top: 500px;
}

.slider {
  width: 100%;
  height: auto;
  position: absolute;
  overflow: scroll;
}

.slider ul {
  display: flex;
  padding: 0;
}

.slider ul li {
  list-style: none;
}

.slider ul li img {
  width: 400px;
  height: auto;
}

.description {
  color: black;
  font-weight: 300;
  font-size: 22px;
  position: absolute;
  text-align: justify;
  width: 500px;
  right: 60px;
  margin-top: 400px;
}

@media (max-width: 1024px) {
  .header-warning {
    font-size: 28px;
  }
  .footer-warning {
    font-size: 28px;
  }
  .shop {
    grid-template-columns: auto auto;
    grid-template-rows: 300px 100px 300px 100px 300px 100px 100px;
  }
  .star3 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .star4 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .star5 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .star6 {
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .text3 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .text4 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .text5 {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .text6 {
    grid-column: 2/3;
    grid-row: 6/7;
  }
  .description-grindr {
    grid-column: 1/3;
    grid-row: 7/8;
    font-size: 20px;
  }
  .alex {
    width: 40%;
    margin-left: 40px;
  }
  .circle {
    width: 20%;
    margin-left: 160px;
  }
  .poem {
    left: 10px;
    margin-top: 550px;
    font-size: 16px;
  }
  .description {
    font-size: 16px;
    margin-top: 450px;
  }
  body footer section {
    margin-top: 180px;
  }
}
@media (max-width: 768px) {
  .header-warning {
    font-size: 20px;
  }
  .footer-warning {
    font-size: 20px;
  }
  .social-media {
    display: none;
  }
  .form {
    width: 80%;
    margin: 50px auto;
  }
  .alex {
    margin-top: 350px;
    width: 60%;
  }
  .circle {
    width: 30%;
    margin-left: 200px;
    margin-top: 350px;
  }
  .description {
    width: 80%;
    margin: 750px auto;
  }
  .poem {
    margin-top: 500px;
    margin-left: 480px;
  }
  body footer section {
    margin-top: 450px;
  }
}
@media (max-width: 425px) {
  .header-warning {
    font-size: 16px;
  }
  .footer-warning {
    font-size: 16px;
  }
  .shop {
    grid-template-columns: 80%;
    grid-template-rows: 300px 100px 300px 100px 300px 100px 300px 100px 300px 100px 300px 100px 100px;
  }
  .star1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .text1 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .star2 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .text2 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .star3 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .text3 {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .star4 {
    grid-column: 1/2;
    grid-row: 7/8;
  }
  .text4 {
    grid-column: 1/2;
    grid-row: 8/9;
  }
  .star5 {
    grid-column: 1/2;
    grid-row: 9/10;
  }
  .text5 {
    grid-column: 1/2;
    grid-row: 10/11;
  }
  .star6 {
    grid-column: 1/2;
    grid-row: 11/12;
  }
  .text6 {
    grid-column: 1/2;
    grid-row: 12/13;
  }
  .description-grindr {
    grid-column: 1/2;
    grid-row: 13/14;
  }
  .poem {
    margin-top: 750px;
    margin-left: 250px;
  }
  .alex {
    margin-left: 5px;
    margin-top: 700px;
  }
  .circle {
    margin-top: 700px;
    margin-left: 100px;
  }
  .description {
    margin-top: 400px;
  }
}
@media (max-width: 320px) {
  body header nav ul li {
    font-size: 18px;
  }
  .poem {
    display: none;
  }
  .alex {
    margin-left: 20%;
    margin-top: 250%;
  }
  .circle {
    margin-left: 40%;
    margin-top: 250%;
  }
  .description p {
    margin-left: 20%;
  }
  .shop {
    grid-template-columns: 100%;
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
