main {
    height: 100vh;
    section{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        div {
            a input{
                opacity: 0.8;
                width: 250px;
                &:hover{
                    transform: scale(1.5)
                }
        }
    }
}}