@media (max-width: 768px){
    .header-warning{
        font-size: 20px;
    }
    .footer-warning{
        font-size: 20px;
    }
    .social-media{
        display: none;
    }
    .form{
        width: 80%;
        margin: 50px auto;
    }
    .alex{
        margin-top: 350px;
        width: 60%;
    }
    .circle{
        width: 30%;
        margin-left: 200px;
        margin-top: 350px;
    }
    .description{
        width: 80%;
        margin: 750px auto;
    }
    .poem{
        margin-top: 500px;
        margin-left: 480px;
    }
    body footer section{
        margin-top: 450px;
    }
}
